body{
    text-align:center;
    color:whitesmoke;
    font-size: large;
}
.Twisted{font-family: 'Montserrat Subrayada', sans-serif;
    ;font-size: 50px;
   }
   p{
       text-align: center;
       font-family:'Pangolin', cursive;
       ;
   }

.item1{ grid-column:1/2;}
.item2{ grid-column:1/2;}
.item3{ grid-column:1/2;}
.item4{grid-column:1/2;}
.item5{grid-column:1/2;}
.item6{grid-column:2/4;}
.item7{grid-column:2/4;}
.item8{grid-column:2/4;}
.item9{grid-column:2/4;}
.item10{grid-column:2/4;}

.Grid{
    width:100%;
    display:grid;
    grid-template-columns:50%;
    grid-template-rows:50px;
    grid-gap:20px 40px;
}