body{
    text-align:center;
    color:whitesmoke;
    font-size: large;
}
.Twisted{font-family: 'Montserrat Subrayada', sans-serif;
    ;font-size: 50px;
   }
   p{
       text-align: center;
       font-family:'Pangolin', cursive;
       ;
   }
